In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2019, 3, 5, 13, 22, 20, 118182)

In [4]:
now.year,now.month,now.day

(2019, 3, 5)

In [5]:
delta = datetime(2011,1,7) - datetime(2008,6,24,8,15)

In [6]:
delta

datetime.timedelta(926, 56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [2]:
from datetime import timedelta

In [10]:
start = datetime(2011,1,7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

## Types in datetime module
|Type|Description|
|---|---|
|date|Store calendar date (year, month, day) using the Gregorian calendar|
|time|Store time of day as hours, minutes, seconds, and microseconds|
|datetime|Stores both date and time|
|timedelta|Represents the difference between two datetime values (as days, seconds, and microseconds)|
|tzinfo|tzinfo	Base type for storing time zone information|

In [13]:
stamp = datetime(2011,1,3)

In [14]:
str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

##  Datetime format specification (ISO C89 compatible)
|Type|Description|
|---|---|
|%Y|Four-digit year|
|%y|Two-digit year|
|%m|Two-digit month(01,...12)|
|%d|Two-digit day(01,...31)|

In [16]:
 value = '2011-01-03'

In [18]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [3]:
from dateutil.parser import parse

In [4]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [6]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [7]:
 dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
          datetime(2011, 1, 7), datetime(2011, 1, 8),
          datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [9]:
import pandas as pd
import numpy as np

In [10]:
ts = pd.Series(np.random.randn(6),index=dates)

In [11]:
ts

2011-01-02    0.389237
2011-01-05    0.647956
2011-01-07   -0.997579
2011-01-08   -0.006525
2011-01-10    0.706039
2011-01-12   -0.348628
dtype: float64

In [12]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [14]:
ts[::2] #这个和平时的数组切片差不多,只是步长为2也就是隔一个选一个

2011-01-02    0.389237
2011-01-07   -0.997579
2011-01-10    0.706039
dtype: float64

In [15]:
ts.index.dtype

dtype('<M8[ns]')

In [16]:
stamp = ts.index[0]

In [17]:
stamp

Timestamp('2011-01-02 00:00:00')

In [18]:
stamp = ts.index[2]

In [19]:
ts[stamp]

-0.997579257140828

In [20]:
ts['1/10/2011']

0.7060393846108702

In [21]:
ts['20110110']

0.7060393846108702

In [22]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [23]:
longer_ts

2000-01-01    0.146465
2000-01-02   -0.443096
2000-01-03   -0.253020
2000-01-04    2.404296
2000-01-05    1.332888
2000-01-06   -0.688018
2000-01-07    0.230453
2000-01-08   -0.726947
2000-01-09    0.960046
2000-01-10    0.950752
2000-01-11    0.950368
2000-01-12   -0.603566
2000-01-13    0.328036
2000-01-14   -1.707538
2000-01-15    0.200198
2000-01-16    1.059110
2000-01-17    1.026966
2000-01-18    0.949295
2000-01-19   -1.163050
2000-01-20    2.466042
2000-01-21   -1.944507
2000-01-22    1.821350
2000-01-23    0.387734
2000-01-24    0.460144
2000-01-25   -0.191068
2000-01-26   -0.272633
2000-01-27    1.440466
2000-01-28   -0.040021
2000-01-29   -0.205715
2000-01-30   -0.447757
                ...
2002-08-28    0.182835
2002-08-29    0.739089
2002-08-30    2.073546
2002-08-31    1.108656
2002-09-01    0.444799
2002-09-02   -0.007433
2002-09-03    0.531160
2002-09-04    1.067671
2002-09-05   -2.068308
2002-09-06   -0.066067
2002-09-07   -0.372889
2002-09-08   -0.006660
2002-09-09   -0.986796
2002-09-10   -0.757803
2002-09-11    0.218493
2002-09-12   -1.072429
2002-09-13    0.297112
2002-09-14   -0.547481
2002-09-15    1.117415
2002-09-16   -1.357987
2002-09-17   -0.222472
2002-09-18    0.083113
2002-09-19   -1.356527
2002-09-20   -0.666014
2002-09-21   -0.258120
2002-09-22   -0.258812
2002-09-23    2.004316
2002-09-24    0.812757
2002-09-25   -0.646197
2002-09-26    0.424806
Freq: D, Length: 1000, dtype: float64

In [26]:
longer_ts['2001'].head(10)

2001-01-01   -1.047108
2001-01-02    0.884017
2001-01-03   -0.343137
2001-01-04    0.796129
2001-01-05    0.399682
2001-01-06   -1.050830
2001-01-07   -0.622369
2001-01-08    0.797009
2001-01-09    0.416945
2001-01-10   -0.831401
Freq: D, dtype: float64

In [27]:
longer_ts['2001-05']

2001-05-01   -1.424037
2001-05-02   -1.451914
2001-05-03   -0.502645
2001-05-04   -1.306689
2001-05-05   -1.258248
2001-05-06   -2.223701
2001-05-07    1.024099
2001-05-08   -0.073875
2001-05-09   -0.820046
2001-05-10    0.773024
2001-05-11    1.012676
2001-05-12    1.409261
2001-05-13    0.174030
2001-05-14    0.046319
2001-05-15    0.800343
2001-05-16    0.879363
2001-05-17   -1.000293
2001-05-18    1.379752
2001-05-19   -0.743662
2001-05-20   -0.161066
2001-05-21   -1.164525
2001-05-22    0.314185
2001-05-23   -2.013726
2001-05-24    0.059759
2001-05-25    0.273802
2001-05-26   -2.008731
2001-05-27    0.567302
2001-05-28   -1.095759
2001-05-29    0.527749
2001-05-30    1.366230
2001-05-31    0.016160
Freq: D, dtype: float64

In [28]:
ts[datetime(2011,1,7)]

-0.997579257140828

In [30]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.997579
2011-01-08   -0.006525
2011-01-10    0.706039
dtype: float64

In [31]:
ts.truncate(after='1/9/2011')

2011-01-02    0.389237
2011-01-05    0.647956
2011-01-07   -0.997579
2011-01-08   -0.006525
dtype: float64

In [32]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [33]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                     index=dates,
                      columns=['Colorado', 'Texas',
                               'New York', 'Ohio'])

In [35]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.964904  0.011471 -0.899697 -0.858219
2001-05-09  0.449355 -0.158573  0.117710 -1.797952
2001-05-16  0.896430 -2.299775 -0.259201 -0.445362
2001-05-23 -1.909938 -0.970450 -1.276502 -1.677307
2001-05-30 -0.031285 -0.327068  0.641147 -0.680275

In [36]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/2/2000','1/3/2000'])

In [37]:
dup_ts = pd.Series(np.arange(5),index=dates)

In [38]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [39]:
dup_ts['1/3/2000']

4

In [40]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [42]:
grouped = dup_ts.groupby(level=0)

In [43]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [44]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [45]:
ts

2011-01-02    0.389237
2011-01-05    0.647956
2011-01-07   -0.997579
2011-01-08   -0.006525
2011-01-10    0.706039
2011-01-12   -0.348628
dtype: float64

In [46]:
resampler = ts.resample('D')

In [47]:
index = pd.date_range('2012-04-01','2012-06-01')

In [48]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [49]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [50]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [51]:
pd.date_range('2000-01-01','2000-12-01',freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [52]:
pd.date_range('2012-05-02 12:56:31',periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [53]:
pd.date_range('2012-05-02 12:56:31',periods=5,normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [54]:
import pytz

In [55]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [59]:
tz = pytz.timezone('Asia/Shanghai')

In [60]:
tz

In [61]:
rng = pd.date_range('3/9/2012 9:30',periods=6,freq='D')

In [62]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)

In [63]:
ts

2012-03-09 09:30:00    0.662705
2012-03-10 09:30:00   -0.141079
2012-03-11 09:30:00    1.109770
2012-03-12 09:30:00    1.517176
2012-03-13 09:30:00    0.176483
2012-03-14 09:30:00    0.329876
Freq: D, dtype: float64

In [67]:
ts_utc = ts.tz_localize('Asia/Shanghai')

In [68]:
ts_utc

2012-03-09 09:30:00+08:00    0.662705
2012-03-10 09:30:00+08:00   -0.141079
2012-03-11 09:30:00+08:00    1.109770
2012-03-12 09:30:00+08:00    1.517176
2012-03-13 09:30:00+08:00    0.176483
2012-03-14 09:30:00+08:00    0.329876
Freq: D, dtype: float64